<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задание 3</title>
</head>
<body> 
    <div id = "app">
        <h1>{{ title }}</h1>

        <p>
            <input type="text"
            v-bind:placeholder="placeHolderTextkm"
            v-model="km"
            @input="inputKmToMt"
            >
        км/ч</p>

        <p>
        <input type="text" 
        v-bind:placeholder="placeHolderTextmt" 
        v-model="mt"
        @input="inputMtToKm"
        >
       м/с</p>
        
    </div>
    
    <img src="https://vistapointe.net/images/turbo-5.jpg">
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>




</body> 
</html>